<h1> Data Science Tools and Ecosystem </h1>

<p>
    In this notebook, Data Science Tools and Ecosystem are summarized. 
</p>

<b> Some of the popular languages that Data Scientists use are:<b>
<ol>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
</ol>

<b> Some of the commonly used libraries used by Data Scientists include: </b>
<ol>
    <li>TensorFlow</li>
    <li>SciPy</li>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Pytorch</li>
</ol>

<b>Data Science Tools</b>
<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupiter Notebook</td>
  </tr>
  <tr> 
  	<td>R Studio</td>
  </tr>
  <tr> 
  	<td>Apache Spark</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers
eval = (3*4)+5
print(eval)
print(eval==17)

17
True

In [3]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 6)

33.333333333333336

<p><b>Objectives:</b> List popular languages for Data Science.<p>
<ul>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ul>

<h2>Author</h2>
Shivani Kumari